
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-1-H3V {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  width: 100%;
  overflow: hidden;

  .auto-group-egsj-h7D {
    width: 172.1rem;
    height: 102.9rem;
    position: relative;
    flex-shrink: 0;

    .photo1707725304-removebg-1-MLB {
      left: 28.1rem;
      top: 0.5rem;
      object-fit: cover;
      vertical-align: top;
      width: 144rem;
      height: 102.4rem;
      position: absolute;
    }
    .e7bb11e947488175ba7b4ef4b7cc-removebg-preview-1-2SK {
      object-fit: cover;
      vertical-align: top;
      width: 20rem;
      height: 20rem;
      position: absolute;
      left: 0;
      top: 0;
    }
    .as-an-it-student-i-am-immersed-in-the-dynamic-and-ever-evolving-world-of-technology-my-academic-journey-revolves-around-gaining-a-comprehensive-understanding-of-various-aspects-of-information-technology-from-programming-languages-and-software-development-to-networking-cybersecurity-and-database-management-i-am-excited-to-contribute-to-the-future-of-technology-and-shape-the-digital-world-through-continuous-learning-and-hands-on-experiences-9G3 {
      font-family: Amethysta, 'Source Sans Pro';
      height: 28.5rem;
      left: 6.4rem;
      font-size: 2.5rem;
      color: #ffffff;
      line-height: 1.2625;
      width: 72.6rem;
      position: absolute;
      top: 44.6rem;
      font-weight: 400;
    }
    .hi-everyone-Bc3 {
      width: 22.1rem;
      position: absolute;
      left: 6.5rem;
      font-weight: 400;
      font-family: Lalezar, 'Source Sans Pro';
      height: 5.1rem;
      top: 25rem;
      font-size: 3.2rem;
      line-height: 1.5675;
      color: #ffffff;
      white-space: nowrap;
    }
    .and-im-web-designe-HQB {
      top: 35rem;
      line-height: 1.5675;
      white-space: nowrap;
      width: 12.7rem;
      height: 5.1rem;
      font-size: 3.2rem;
      font-weight: 400;
      color: #ffffff;
      font-family: Lalezar, 'Source Sans Pro';
      position: absolute;
      left: 6.5rem;
    }
    .james-winziel-del-rio-Aym {
      left: 6.4rem;
      line-height: 1.5675;
      color: #ffffff;
      font-family: Lalezar, 'Source Sans Pro';
      white-space: nowrap;
      width: 77.1rem;
      height: 11.8rem;
      position: absolute;
      top: 26.3rem;
      font-size: 7.5rem;
      font-weight: 400;
    }
    .home-sdH {
      left: 65.2rem;
      top: 6rem;
      font-size: 3.2rem;
      line-height: 1.5675;
      white-space: nowrap;
      height: 5.1rem;
      position: absolute;
      font-weight: 400;
      color: #ffffff;
      font-family: Lalezar, 'Source Sans Pro';
      width: 8.3rem;
    }
    .about-aGo {
      font-weight: 400;
      color: #ffffff;
      font-family: Lalezar, 'Source Sans Pro';
      white-space: nowrap;
      height: 5.1rem;
      cursor: pointer;
      left: 80.2rem;
      top: 6rem;
      width: 9.5rem;
      position: absolute;
      font-size: 3.2rem;
      line-height: 1.5675;
    }
    .work-HBD {
      line-height: 1.5675;
      color: #ffffff;
      font-family: Lalezar, 'Source Sans Pro';
      white-space: nowrap;
      width: 8.7rem;
      height: 5.1rem;
      cursor: pointer;
      left: 96.7rem;
      position: absolute;
      top: 6rem;
      font-size: 3.2rem;
      font-weight: 400;
    }
    .online-resume-z5d {
      color: #ffffff;
      white-space: nowrap;
      height: 3.8rem;
      position: absolute;
      left: 21.6rem;
      font-weight: 400;
      line-height: 1.5675;
      font-family: Lalezar, 'Source Sans Pro';
      width: 16.7rem;
      top: 87.8rem;
      font-size: 2.4rem;
    }
    .rectangle-7-Vo5 {
      border: solid 0.5rem #ffffff;
      box-sizing: border-box;
      border-radius: 2rem;
      width: 30rem;
      height: 5.4rem;
      position: absolute;
      left: 15rem;
      top: 87rem;
    }
    .fronted-developer-o35 {
      top: 35rem;
      font-weight: 400;
      line-height: 1.5675;
      color: #ff0101;
      font-family: Lalezar, 'Source Sans Pro';
      height: 5.1rem;
      position: absolute;
      left: 18rem;
      width: 29.3rem;
      font-size: 3.2rem;
      white-space: nowrap;
    }
    .vector-JkX {
      width: 5.0781rem;
      height: 5.0781rem;
      cursor: pointer;
      position: absolute;
      left: 11.9rem;
      top: 77.3rem;
      object-fit: contain;
      vertical-align: top;
    }
    .vector-pis {
      cursor: pointer;
      position: absolute;
      left: 21.7rem;
      top: 77.4rem;
      object-fit: contain;
      vertical-align: top;
      width: 5.0188rem;
      height: 5.0875rem;
    }
    .vector-jaw {
      object-fit: contain;
      vertical-align: top;
      width: 5.0188rem;
      height: 5.0875rem;
      cursor: pointer;
      position: absolute;
      left: 31.4rem;
      top: 77.4rem;
    }
    .vector-Gqm {
      cursor: pointer;
      position: absolute;
      left: 41.1rem;
      top: 77.3rem;
      object-fit: contain;
      vertical-align: top;
      width: 5.0748rem;
      height: 5.1528rem;
    }
    .rectangle-2-cPq {
      left: 114.7rem;
      top: 5.3rem;
      border: solid 0.1rem #ffffff;
      border-radius: 2rem;
      height: 5.7rem;
      cursor: pointer;
      position: absolute;
      box-sizing: border-box;
      background-color: #ffffff;
      width: 22.3rem;
    }
    .contact-JnT {
      color: #000000;
      font-family: Lalezar, 'Source Sans Pro';
      width: 12.4rem;
      height: 5.1rem;
      position: absolute;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.5675;
      white-space: nowrap;
      left: 119.6rem;
      top: 6rem;
    }
  }
  .auto-group-jddh-cYF {
    width: 100%;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
    margin-bottom: 1.7rem;
    padding: 9rem 6.5rem 0rem 9rem;
    background-color: #e7e7e7;
    box-sizing: border-box;
    display: flex;

    .so-who-am-i-KSf {
      margin: 0rem 0.3rem 3.5rem 0rem;
      font-size: 6.4rem;
      line-height: 1.5675;
      font-family: Lalezar, 'Source Sans Pro';
      display: flex;
      align-items: baseline;
      font-weight: 400;
      color: #000000;
      white-space: nowrap;
      flex-shrink: 0;
      
           
      


      .so-who-am-i-KSf-sub-1 {
        font-weight: 400;
        line-height: 1.5675;
        color: #ff0505;
        font-family: Lalezar, 'Source Sans Pro';
        font-size: 6.4rem;
      }

    
    .auto-group-ouew-gK9 {
      width: 100%;
      height: 80.3rem;
      position: relative;
      flex-shrink: 0;

      .photo16961594651-removebg-preview-1-D4B {
        vertical-align: top;
        width: 75.7rem;
        height: 79.4rem;
        position: absolute;
        left: 25.2rem;
        top: 0.9rem;
        object-fit: cover;
      }
      .it-designer-imd {
        position: absolute;
        font-size: 3.6rem;
        line-height: 1.5675;
        font-family: Lalezar, 'Source Sans Pro';
        white-space: nowrap;
        height: 5.7rem;
        left: 96.8rem;
        top: 0.7rem;
        font-weight: 400;
        color: #000000;
        width: 19rem;
      }
      .it-coder-dNo {
        font-family: Lalezar, 'Source Sans Pro';
        height: 5.7rem;
        line-height: 1.5675;
        color: #000000;
        top: 0;
        font-size: 3.6rem;
        font-weight: 400;
        white-space: nowrap;
        width: 14.1rem;
        position: absolute;
        left: 10.7rem;
      }
      .as-a-it-designer-im-like-a-digital-explorer-weaving-together-creativity-and-functionality-to-create-online-spaces-that-feel-inviting-and-easy-to-navigate-my-passion-lies-in-crafting-websites-that-not-only-look-visually-stunning-but-also-make-users-feel-right-at-home-i-love-blending-the-artistic-side-of-design-with-the-practical-need-for-a-seamless-user-experience-vsh {
        color: #000000;
        position: absolute;
        font-weight: 400;
        left: 88.2rem;
        top: 4.2rem;
        font-size: 2.5rem;
        line-height: 1.2625;
        font-family: Amethysta, 'Source Sans Pro';
        width: 40.3rem;
        height: 44.2rem;
      }
      .as-an-it-coder-picture-me-as-a-sort-of-digital-problem-solver-and-creator-i-spend-my-free-time-crafting-the-behind-the-scenes-magic-that-brings-software-and-applications-to-life-in-my-world-debugging-is-like-counting-stars-and-each-line-of-code-is-a-headache-that-turns-to-fever-im-on-a-beginning-of-learning-and-improvement-of-my-life-as-a-it-student-VZR {
        position: absolute;
        left: 0;
        top: 7.4rem;
        line-height: 1.2625;
        font-family: Amethysta, 'Source Sans Pro';
        width: 38.3rem;
        height: 41.1rem;
        font-size: 2.5rem;
        font-weight: 400;
        color: #000000;
      }
      .vscode-icons-file-type-html-3zF {
        width: 7.1755rem;
        height: 7.9625rem;
        position: absolute;
        left: 1.7622rem;
        top: 53.0688rem;
        object-fit: contain;
        vertical-align: top;
      }
      .skill-icons-javascript-yN7 {
        width: 8.2rem;
        height: 7.4rem;
        position: absolute;
        left: 22.6rem;
        top: 52.6rem;
        object-fit: contain;
        vertical-align: top;
      }
      .vscode-icons-file-type-css-uFm {
        object-fit: contain;
        vertical-align: top;
        width: 7.0978rem;
        height: 7.525rem;
        position: absolute;
        left: 12.7511rem;
        top: 53.0375rem;
      }
      .logos-adobe-animate-dSf {
        background-repeat: no-repeat;
        background-position: center;
        box-sizing: border-box;
        width: 6rem;
        height: 5.6909rem;
        left: 92.4rem;
        overflow: hidden;
        padding: 1.463rem 0.755rem 1.678rem 0.755rem;
        position: absolute;
        top: 51.2rem;
        background-size: cover;
        background-image: url('REPLACE_IMAGE:23:66');

        .vector-L6B {
          height: 2.5501rem;
          object-fit: contain;
          vertical-align: top;
          width: 4.4896rem;
        }
      }
      .devicon-photoshop-f8T {
        background-position: center;
        box-sizing: border-box;
        padding: 0.9rem 0.9rem 1.5rem 1.3rem;
        height: 5.7rem;
        top: 51.2rem;
        overflow: hidden;
        background-size: cover;
        background-repeat: no-repeat;
        width: 6rem;
        position: absolute;
        left: 101.6rem;
        background-image: url('REPLACE_IMAGE:23:69');

        .vector-Mmy {
          width: 3.8rem;
          height: 3.3rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .logos-adobe-illustrator-hL3 {
        background-repeat: no-repeat;
        box-sizing: border-box;
        padding: 1.262rem 1.438rem 1.669rem 1.238rem;
        width: 6rem;
        height: 5.6909rem;
        left: 110.8rem;
        top: 51.2rem;
        background-size: cover;
        position: absolute;
        overflow: hidden;
        background-position: center;
        background-image: url('REPLACE_IMAGE:23:72');

        .vector-QET {
          height: 2.7608rem;
          object-fit: contain;
          vertical-align: top;
          width: 3.3236rem;
        }
      }
      .logos-adobe-after-effects-8w9 {
        width: 6rem;
        height: 5.6909rem;
        overflow: hidden;
        background-repeat: no-repeat;
        background-image: url('REPLACE_IMAGE:23:75');
        padding: 1.461rem 0.853rem 1.629rem 0.741rem;
        position: absolute;
        left: 120rem;
        top: 51.2rem;
        background-size: cover;
        background-position: center;
        box-sizing: border-box;

        .vector-FF5 {
          width: 4.4062rem;
          height: 2.6005rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .rectangle-9-nko {
        border-radius: 1rem;
        width: 6rem;
        height: 5.5151rem;
        position: absolute;
        left: 110.8rem;
        top: 58.4408rem;
        background-color: #c3c3c3;
      }
      .arcticons-capcut-uqR {
        position: absolute;
        left: 111.95rem;
        top: 59.7786rem;
        object-fit: contain;
        vertical-align: top;
        width: 3.9rem;
        height: 2.646rem;
      }
      .file-icons-adobe-flash-FPV {
        object-fit: contain;
        vertical-align: top;
        border-radius: 1rem;
        width: 6rem;
        height: 5.7rem;
        position: absolute;
        left: 101.8rem;
        top: 58.2rem;
      }
      .arcticons-kinemaster-AmM {
        top: 58.2rem;
        object-fit: contain;
        vertical-align: top;
        width: 6rem;
        height: 5.7rem;
        position: absolute;
        left: 120rem;
      }
    }
  }
  .works-svf {
    font-weight: 400;
    line-height: 1.5675;
    color: #ffffff;
    font-family: Lalezar, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin-right: 3.7rem;
    font-size: 9.6rem;
  }
  .auto-group-myvj-Qfh {
    box-sizing: border-box;
    padding: 0.7rem 4.7rem 3.9rem 5.2rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-b5bm-LJT {
      width: calc(100% - 36.4rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 17.8rem 0.8rem 18.6rem;

      .video-editing-qm1 {
        font-size: 4.5rem;
        font-weight: 400;
        line-height: 1.5675;
        color: #cbcbcb;
        font-family: Lalezar, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 46.2rem;
      }
      .photo-editing-AoH {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 4.5rem;
        font-weight: 400;
        line-height: 1.5675;
        color: #cbcbcb;
        font-family: Lalezar, 'Source Sans Pro';
      }
    }
    .auto-group-pnw9-Jeb {
      flex-shrink: 0;
      margin-bottom: 1.7rem;
      width: 100%;
      display: flex;
      align-items: flex-start;

      .screenshot-2024-02-13-112537-1-rg7 {
        vertical-align: top;
        border-radius: 2.5rem;
        flex-shrink: 0;
        margin-right: 10rem;
        width: 62.1rem;
        height: 32.3rem;
        object-fit: cover;
      }
      .photo1695533827-8-1-yEw {
        width: 62rem;
        height: 32.4rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 2.5rem;
        flex-shrink: 0;
      }
    }
    .auto-group-utph-tco {
      margin: 0rem 22.8rem 0rem 21.2rem;
      width: calc(100% - 44rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .animating-oDy {
        color: #cbcbcb;
        font-family: Lalezar, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 57rem;
        font-size: 4.5rem;
        font-weight: 400;
        line-height: 1.5675;
      }
      .coding-Ki7 {
        font-size: 4.5rem;
        font-weight: 400;
        line-height: 1.5675;
        color: #cbcbcb;
        font-family: Lalezar, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .auto-group-1zhd-ri3 {
      margin: 0 0.1rem;
      width: calc(100% - 0.2rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .screenshot-2024-02-13-114712-1-QDm {
        margin-right: 10rem;
        width: 62rem;
        height: 32.4rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 2.5rem;
        flex-shrink: 0;
      }
      .screenshot-2024-02-13-114251-1-W1u {
        width: 61.9rem;
        height: 32.4rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 2.5rem;
        flex-shrink: 0;
      }
    }
  }
  .auto-group-te1v-2W3 {
    flex-direction: column;
    background-color: #e7e7e7;
    flex-shrink: 0;
    box-sizing: border-box;
    padding-top: 11.9rem;
    width: 100%;
    align-items: center;
    display: flex;

    .auto-group-23jx-xuV {
      margin: 0rem 4.9rem 8.7rem 8.1rem;
      width: calc(100% - 13rem);
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .auto-group-vgwy-Ucw {
        margin-right: 3.8rem;
        width: 63.3rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-dhpk-cUF {
          box-sizing: border-box;
          padding-bottom: 2.4rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-mkmm-9yy {
            margin-bottom: 2.3rem;
            width: 36.6rem;
            height: 10.1rem;
            position: relative;
            flex-shrink: 0;

            .contact-me-Sbh {
              position: absolute;
              left: 0;
              font-weight: 400;
              line-height: 1.5670000315;
              color: #ffffff;
              white-space: nowrap;
              width: 36.6rem;
              height: 10.1rem;
              top: 0;
              font-size: 6.4rem;
              font-family: Lalezar, 'Source Sans Pro';
              display: flex;
              align-items: baseline;

              .contact-me-Sbh-sub-0 {
                line-height: 1.5675;
                color: #000000;
                font-family: Lalezar, 'Source Sans Pro';
                font-size: 6.4rem;
                font-weight: 400;
              }
              .contact-me-Sbh-sub-1 {
                color: #ff0000;
                font-family: Lalezar, 'Source Sans Pro';
                font-size: 6.4rem;
                font-weight: 400;
                line-height: 1.5675;
              }
              .contact-me-Sbh-sub-2 {
                font-weight: 400;
                line-height: 1.5675;
                color: #000000;
                font-family: Lalezar, 'Source Sans Pro';
                font-size: 6.4rem;
              }
            }
            .rectangle-12-zv3 {
              top: 8rem;
              background-color: #ff0000;
              width: 16.1rem;
              height: 0.9rem;
              position: absolute;
              left: 0;
            }
          }
          .feel-free-to-contact-me-anytime-i-love-to-know-what-youre-thinking-voh {
            flex-shrink: 0;
            margin-bottom: 2.6rem;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.5675;
            color: #000000;
            font-family: Lalezar, 'Source Sans Pro';
            white-space: nowrap;
          }
          .auto-group-dfdr-2rj {
            margin: 0rem 23.1rem 2.6rem 0rem;
            width: calc(100% - 23.1rem);
            height: 6.7rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .auto-group-kmxm-ZLs {
              box-sizing: border-box;
              background-repeat: no-repeat;
              flex-shrink: 0;
              background-image: url('REPLACE_IMAGE:124:109');
              margin-right: 1.4rem;
              padding: 1.5rem 1.1rem;
              height: 100%;
              background-size: cover;
              background-position: center;

              .vector-VkK {
                width: 4.6rem;
                height: 3.7rem;
                object-fit: contain;
                vertical-align: top;
              }
            }
            .winzieldelrio12gmailcom-dLj {
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 0.1rem;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.5675;
              color: #000000;
              font-family: Lalezar, 'Source Sans Pro';
            }
          }
          .auto-group-wutt-kAT {
            width: calc(100% - 39.5rem);
            height: 6.7rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-right: 39.5rem;

            .auto-group-nfmq-gpo {
              background-repeat: no-repeat;
              background-position: center;
              flex-shrink: 0;
              margin-right: 1.2rem;
              box-sizing: border-box;
              padding: 1.6rem 1.5rem 1.7rem 1.6rem;
              height: 100%;
              background-size: cover;
              background-image: url('REPLACE_IMAGE:124:92');

              .bi-telephone-fill-RGb {
                object-fit: contain;
                vertical-align: top;
                width: 3.7001rem;
                height: 3.3998rem;
              }
            }
            .item-639615820598-8wh {
              flex-shrink: 0;
              margin-top: 0.1rem;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.5675;
              color: #000000;
              font-family: Lalezar, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
        .auto-group-ppej-FWX {
          width: 100%;
          height: 6.7rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .auto-group-kmfm-QPR {
            margin-right: 1.1rem;
            background-position: center;
            box-sizing: border-box;
            padding: 1.125rem 1.533rem 1.325rem 1.533rem;
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url('REPLACE_IMAGE:124:85');
            flex-shrink: 0;

            .vector-Lns {
              width: 3.7334rem;
              height: 4.25rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .brgy-silangan-mayao-lucena-city-4301-quezon-V9y {
            font-family: Lalezar, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 0.1rem;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.5675;
            color: #000000;
          }
        }
      }
      .message-box-PWF {
        flex-shrink: 0;
        margin-top: 2.8rem;
        width: 63.9rem;
        height: 75.3rem;
        position: relative;
        background-color: #d9d9d9;
        border-radius: 5rem;

        .your-name-Was {
          height: 3.8rem;
          left: 5.7rem;
          font-size: 2.4rem;
          font-weight: 400;
          font-family: Lalezar, 'Source Sans Pro';
          white-space: nowrap;
          width: 12.5rem;
          position: absolute;
          top: 4.2rem;
          line-height: 1.5675;
          color: #000000;
        }
        .phone-number-1Xd {
          position: absolute;
          font-weight: 400;
          color: #000000;
          white-space: nowrap;
          width: 16.7rem;
          height: 3.8rem;
          left: 5.7rem;
          top: 13.2rem;
          font-size: 2.4rem;
          line-height: 1.5675;
          font-family: Lalezar, 'Source Sans Pro';
        }
        .message-igw {
          left: 7.7rem;
          position: absolute;
          height: 3.8rem;
          top: 22.3rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.5675;
          color: #000000;
          font-family: Lalezar, 'Source Sans Pro';
          width: 10.3rem;
          white-space: nowrap;
        }
        .auto-group-iqsf-S79 {
          padding: 0.8rem 1.5rem 0.4rem 1.5rem;
          left: 5.7rem;
          font-weight: 400;
          line-height: 1.5675;
          color: rgba(0, 0, 0, 0.5);
          font-family: Lalezar, 'Source Sans Pro';
          border: solid 0.3rem rgba(0, 0, 0, 0.5);
          box-sizing: border-box;
          top: 8rem;
          background-color: #d9d9d9;
          height: 4.4rem;
          font-size: 2rem;
          border-radius: 1.5rem;
          width: 54.2rem;
          position: absolute;
          white-space: nowrap;
        }
        .auto-group-unxp-TY3 {
          box-sizing: border-box;
          height: 4.4rem;
          left: 5.7rem;
          white-space: nowrap;
          border: solid 0.3rem rgba(0, 0, 0, 0.5);
          position: absolute;
          top: 17rem;
          font-size: 2rem;
          font-weight: 400;
          background-color: #d9d9d9;
          width: 54.2rem;
          line-height: 1.5675;
          padding: 0.8rem 1.5rem 0.4rem 1.5rem;
          color: rgba(0, 0, 0, 0.5);
          font-family: Lalezar, 'Source Sans Pro';
          border-radius: 1.5rem;
        }
        .auto-group-xjy3-6qu {
          font-size: 2rem;
          left: 5.7rem;
          top: 27rem;
          font-weight: 400;
          font-family: Lalezar, 'Source Sans Pro';
          background-color: #d9d9d9;
          padding: 2.1rem 2rem;
          height: 38.2rem;
          position: absolute;
          color: rgba(0, 0, 0, 0.5);
          white-space: nowrap;
          box-sizing: border-box;
          width: 54.2rem;
          border-radius: 1.5rem;
          line-height: 1.5675;
          border: solid 0.3rem rgba(0, 0, 0, 0.5);
        }
        .auto-group-mtfq-ZUb {
          position: absolute;
          left: 5.7rem;
          top: 68.2rem;
          width: 54.2rem;
          height: 3.9rem;

          .rectangle-17-tmm {
            height: 3.8rem;
            position: absolute;
            left: 0;
            top: 0;
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 1rem;
            width: 54.2rem;
          }
          .submit-2NB {
            line-height: 1.5675;
            color: #ffffff;
            position: absolute;
            font-weight: 400;
            left: 25.9rem;
            top: 0.7rem;
            font-size: 2rem;
            font-family: Lalezar, 'Source Sans Pro';
            white-space: nowrap;
            width: 6.7rem;
            height: 3.2rem;
          }
        }
      }
    }
    .auto-group-w1ts-hjD {
      white-space: nowrap;
      background-color: #000000;
      font-size: 1.4rem;
      font-family: Amethysta, 'Source Sans Pro';
      height: 4.2rem;
      font-weight: 400;
      line-height: 1.2625;
      display: flex;
      align-items: center;
      width: 100%;
      color: #ffffff;
      justify-content: center;
      flex-shrink: 0;
      letter-spacing: 0.028rem;
    }
  }
}
}