
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-1-H3V {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #000000;
}
.desktop-1-H3V .auto-group-egsj-h7D {
  width: 172.1rem;
  height: 102.9rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-1-H3V .auto-group-egsj-h7D .photo1707725304-removebg-1-MLB {
  width: 144rem;
  height: 102.4rem;
  position: absolute;
  left: 28.1rem;
  top: 0.5rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-H3V .auto-group-egsj-h7D .e7bb11e947488175ba7b4ef4b7cc-removebg-preview-1-2SK {
  width: 20rem;
  height: 20rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-H3V .auto-group-egsj-h7D .as-an-it-student-i-am-immersed-in-the-dynamic-and-ever-evolving-world-of-technology-my-academic-journey-revolves-around-gaining-a-comprehensive-understanding-of-various-aspects-of-information-technology-from-programming-languages-and-software-development-to-networking-cybersecurity-and-database-management-i-am-excited-to-contribute-to-the-future-of-technology-and-shape-the-digital-world-through-continuous-learning-and-hands-on-experiences-9G3 {
  width: 72.6rem;
  height: 28.5rem;
  position: absolute;
  left: 6.4rem;
  top: 44.6rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2625;
  color: #ffffff;
  font-family: Amethysta, 'Source Sans Pro';
}
.desktop-1-H3V .auto-group-egsj-h7D .hi-everyone-Bc3 {
  width: 22.1rem;
  height: 5.1rem;
  position: absolute;
  left: 6.5rem;
  top: 25rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #ffffff;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-H3V .auto-group-egsj-h7D .and-im-web-designe-HQB {
  width: 12.7rem;
  height: 5.1rem;
  position: absolute;
  left: 6.5rem;
  top: 35rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #ffffff;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-H3V .auto-group-egsj-h7D .james-winziel-del-rio-Aym {
  width: 77.1rem;
  height: 11.8rem;
  position: absolute;
  left: 6.4rem;
  top: 26.3rem;
  font-size: 7.5rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #ffffff;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-H3V .auto-group-egsj-h7D .home-sdH {
  width: 8.3rem;
  height: 5.1rem;
  position: absolute;
  left: 65.2rem;
  top: 6rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #ffffff;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-H3V .auto-group-egsj-h7D .about-aGo {
  width: 9.5rem;
  height: 5.1rem;
  cursor: pointer;
  position: absolute;
  left: 80.2rem;
  top: 6rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #ffffff;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-H3V .auto-group-egsj-h7D .work-HBD {
  width: 8.7rem;
  height: 5.1rem;
  cursor: pointer;
  position: absolute;
  left: 96.7rem;
  top: 6rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #ffffff;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-H3V .auto-group-egsj-h7D .online-resume-z5d {
  width: 16.7rem;
  height: 3.8rem;
  position: absolute;
  left: 21.6rem;
  top: 87.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #ffffff;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-H3V .auto-group-egsj-h7D .rectangle-7-Vo5 {
  width: 30rem;
  height: 5.4rem;
  position: absolute;
  left: 15rem;
  top: 87rem;
  border: solid 0.5rem #ffffff;
  box-sizing: border-box;
  border-radius: 2rem;
}
.desktop-1-H3V .auto-group-egsj-h7D .fronted-developer-o35 {
  width: 29.3rem;
  height: 5.1rem;
  position: absolute;
  left: 18rem;
  top: 35rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #ff0101;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-H3V .auto-group-egsj-h7D .vector-JkX {
  width: 5.0781rem;
  height: 5.0781rem;
  cursor: pointer;
  position: absolute;
  left: 11.9rem;
  top: 77.3rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-H3V .auto-group-egsj-h7D .vector-pis {
  width: 5.0188rem;
  height: 5.0875rem;
  cursor: pointer;
  position: absolute;
  left: 21.7rem;
  top: 77.4rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-H3V .auto-group-egsj-h7D .vector-jaw {
  width: 5.0188rem;
  height: 5.0875rem;
  cursor: pointer;
  position: absolute;
  left: 31.4rem;
  top: 77.4rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-H3V .auto-group-egsj-h7D .vector-Gqm {
  width: 5.0748rem;
  height: 5.1528rem;
  cursor: pointer;
  position: absolute;
  left: 41.1rem;
  top: 77.3rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-H3V .auto-group-egsj-h7D .rectangle-2-cPq {
  width: 22.3rem;
  height: 5.7rem;
  cursor: pointer;
  position: absolute;
  left: 114.7rem;
  top: 5.3rem;
  border: solid 0.1rem #ffffff;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2rem;
}
.desktop-1-H3V .auto-group-egsj-h7D .contact-JnT {
  width: 12.4rem;
  height: 5.1rem;
  position: absolute;
  left: 119.6rem;
  top: 6rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #ffffff;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-H3V .auto-group-jddh-cYF {
  margin-bottom: 1.7rem;
  box-sizing: border-box;
  padding: 9rem 6.5rem 0rem 9rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #e7e7e7;
  flex-shrink: 0;
}
.desktop-1-H3V .auto-group-jddh-cYF .so-who-am-i-KSf {
  margin: 0rem 0.3rem 3.5rem 0rem;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #000000;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}

.desktop-1-H3V .auto-group-jddh-cYF .so-who-am-i-KSf .so-who-am-i-KSf-sub-1 {
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #ff0505;
  font-family: Lalezar, 'Source Sans Pro';
}

.desktop-1-H3V .auto-group-jddh-cYF .auto-group-ouew-gK9 {
  width: 100%;
  height: 80.3rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-1-H3V .auto-group-jddh-cYF .auto-group-ouew-gK9 .photo16961594651-removebg-preview-1-D4B {
  width: 75.7rem;
  height: 79.4rem;
  position: absolute;
  left: 25.2rem;
  top: 0.9rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-H3V .auto-group-jddh-cYF .auto-group-ouew-gK9 .it-designer-imd {
  width: 19rem;
  height: 5.7rem;
  position: absolute;
  left: 96.8rem;
  top: 0.7rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #000000;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-H3V .auto-group-jddh-cYF .auto-group-ouew-gK9 .it-coder-dNo {
  width: 14.1rem;
  height: 5.7rem;
  position: absolute;
  left: 10.7rem;
  top: 0;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #000000;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-H3V .auto-group-jddh-cYF .auto-group-ouew-gK9 .as-a-it-designer-im-like-a-digital-explorer-weaving-together-creativity-and-functionality-to-create-online-spaces-that-feel-inviting-and-easy-to-navigate-my-passion-lies-in-crafting-websites-that-not-only-look-visually-stunning-but-also-make-users-feel-right-at-home-i-love-blending-the-artistic-side-of-design-with-the-practical-need-for-a-seamless-user-experience-vsh {
  width: 40.3rem;
  height: 44.2rem;
  position: absolute;
  left: 88.2rem;
  top: 4.2rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2625;
  color: #000000;
  font-family: Amethysta, 'Source Sans Pro';
}
.desktop-1-H3V .auto-group-jddh-cYF .auto-group-ouew-gK9 .as-an-it-coder-picture-me-as-a-sort-of-digital-problem-solver-and-creator-i-spend-my-free-time-crafting-the-behind-the-scenes-magic-that-brings-software-and-applications-to-life-in-my-world-debugging-is-like-counting-stars-and-each-line-of-code-is-a-headache-that-turns-to-fever-im-on-a-beginning-of-learning-and-improvement-of-my-life-as-a-it-student-VZR {
  width: 38.3rem;
  height: 41.1rem;
  position: absolute;
  left: 0;
  top: 7.4rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2625;
  color: #000000;
  font-family: Amethysta, 'Source Sans Pro';
}
.desktop-1-H3V .auto-group-jddh-cYF .auto-group-ouew-gK9 .vscode-icons-file-type-html-3zF {
  width: 7.1755rem;
  height: 7.9625rem;
  position: absolute;
  left: 1.7622rem;
  top: 53.0688rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-H3V .auto-group-jddh-cYF .auto-group-ouew-gK9 .skill-icons-javascript-yN7 {
  width: 8.2rem;
  height: 7.4rem;
  position: absolute;
  left: 22.6rem;
  top: 52.6rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-H3V .auto-group-jddh-cYF .auto-group-ouew-gK9 .vscode-icons-file-type-css-uFm {
  width: 7.0978rem;
  height: 7.525rem;
  position: absolute;
  left: 12.7511rem;
  top: 53.0375rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-H3V .auto-group-jddh-cYF .auto-group-ouew-gK9 .logos-adobe-animate-dSf {
  box-sizing: border-box;
  padding: 1.463rem 0.755rem 1.678rem 0.755rem;
  width: 6rem;
  height: 5.6909rem;
  position: absolute;
  left: 92.4rem;
  top: 51.2rem;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/vector-6rb.png');
}
.desktop-1-H3V .auto-group-jddh-cYF .auto-group-ouew-gK9 .logos-adobe-animate-dSf .vector-L6B {
  width: 4.4896rem;
  height: 2.5501rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-H3V .auto-group-jddh-cYF .auto-group-ouew-gK9 .devicon-photoshop-f8T {
  box-sizing: border-box;
  padding: 0.9rem 0.9rem 1.5rem 1.3rem;
  width: 6rem;
  height: 5.7rem;
  position: absolute;
  left: 101.6rem;
  top: 51.2rem;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/vector-Nsh.png');
}
.desktop-1-H3V .auto-group-jddh-cYF .auto-group-ouew-gK9 .devicon-photoshop-f8T .vector-Mmy {
  width: 3.8rem;
  height: 3.3rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-H3V .auto-group-jddh-cYF .auto-group-ouew-gK9 .logos-adobe-illustrator-hL3 {
  box-sizing: border-box;
  padding: 1.262rem 1.438rem 1.669rem 1.238rem;
  width: 6rem;
  height: 5.6909rem;
  position: absolute;
  left: 110.8rem;
  top: 51.2rem;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/vector-8zb.png');
}
.desktop-1-H3V .auto-group-jddh-cYF .auto-group-ouew-gK9 .logos-adobe-illustrator-hL3 .vector-QET {
  width: 3.3236rem;
  height: 2.7608rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-H3V .auto-group-jddh-cYF .auto-group-ouew-gK9 .logos-adobe-after-effects-8w9 {
  box-sizing: border-box;
  padding: 1.461rem 0.853rem 1.629rem 0.741rem;
  width: 6rem;
  height: 5.6909rem;
  position: absolute;
  left: 120rem;
  top: 51.2rem;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/vector-ZPV.png');
}
.desktop-1-H3V .auto-group-jddh-cYF .auto-group-ouew-gK9 .logos-adobe-after-effects-8w9 .vector-FF5 {
  width: 4.4062rem;
  height: 2.6005rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-H3V .auto-group-jddh-cYF .auto-group-ouew-gK9 .rectangle-9-nko {
  width: 6rem;
  height: 5.5151rem;
  position: absolute;
  left: 110.8rem;
  top: 58.4408rem;
  background-color: #c3c3c3;
  border-radius: 1rem;
}
.desktop-1-H3V .auto-group-jddh-cYF .auto-group-ouew-gK9 .arcticons-capcut-uqR {
  width: 3.9rem;
  height: 2.646rem;
  position: absolute;
  left: 111.95rem;
  top: 59.7786rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-H3V .auto-group-jddh-cYF .auto-group-ouew-gK9 .file-icons-adobe-flash-FPV {
  width: 6rem;
  height: 5.7rem;
  position: absolute;
  left: 101.8rem;
  top: 58.2rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1rem;
}
.desktop-1-H3V .auto-group-jddh-cYF .auto-group-ouew-gK9 .arcticons-kinemaster-AmM {
  width: 6rem;
  height: 5.7rem;
  position: absolute;
  left: 120rem;
  top: 58.2rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-H3V .works-svf {
  margin-right: 3.7rem;
  font-size: 9.6rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #ffffff;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-H3V .auto-group-myvj-Qfh {
  box-sizing: border-box;
  padding: 0.7rem 4.7rem 3.9rem 5.2rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-1-H3V .auto-group-myvj-Qfh .auto-group-b5bm-LJT {
  margin: 0rem 17.8rem 0.8rem 18.6rem;
  width: calc(100% - 36.4rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-H3V .auto-group-myvj-Qfh .auto-group-b5bm-LJT .video-editing-qm1 {
  margin-right: 46.2rem;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #cbcbcb;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-H3V .auto-group-myvj-Qfh .auto-group-b5bm-LJT .photo-editing-AoH {
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #cbcbcb;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-H3V .auto-group-myvj-Qfh .auto-group-pnw9-Jeb {
  margin-bottom: 1.7rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop-1-H3V .auto-group-myvj-Qfh .auto-group-pnw9-Jeb .screenshot-2024-02-13-112537-1-rg7 {
  margin-right: 10rem;
  width: 62.1rem;
  height: 32.3rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.desktop-1-H3V .auto-group-myvj-Qfh .auto-group-pnw9-Jeb .photo1695533827-8-1-yEw {
  width: 62rem;
  height: 32.4rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.desktop-1-H3V .auto-group-myvj-Qfh .auto-group-utph-tco {
  margin: 0rem 22.8rem 0rem 21.2rem;
  width: calc(100% - 44rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-H3V .auto-group-myvj-Qfh .auto-group-utph-tco .animating-oDy {
  margin-right: 57rem;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #cbcbcb;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-H3V .auto-group-myvj-Qfh .auto-group-utph-tco .coding-Ki7 {
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #cbcbcb;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-H3V .auto-group-myvj-Qfh .auto-group-1zhd-ri3 {
  margin: 0 0.1rem;
  width: calc(100% - 0.2rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-H3V .auto-group-myvj-Qfh .auto-group-1zhd-ri3 .screenshot-2024-02-13-114712-1-QDm {
  margin-right: 10rem;
  width: 62rem;
  height: 32.4rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.desktop-1-H3V .auto-group-myvj-Qfh .auto-group-1zhd-ri3 .screenshot-2024-02-13-114251-1-W1u {
  width: 61.9rem;
  height: 32.4rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.desktop-1-H3V .auto-group-te1v-2W3 {
  box-sizing: border-box;
  padding-top: 11.9rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #e7e7e7;
  flex-shrink: 0;
}
.desktop-1-H3V .auto-group-te1v-2W3 .auto-group-23jx-xuV {
  margin: 0rem 4.9rem 8.7rem 8.1rem;
  width: calc(100% - 13rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop-1-H3V .auto-group-te1v-2W3 .auto-group-23jx-xuV .auto-group-vgwy-Ucw {
  margin-right: 3.8rem;
  width: 63.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-1-H3V .auto-group-te1v-2W3 .auto-group-23jx-xuV .auto-group-vgwy-Ucw .auto-group-dhpk-cUF {
  box-sizing: border-box;
  padding-bottom: 2.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-1-H3V .auto-group-te1v-2W3 .auto-group-23jx-xuV .auto-group-vgwy-Ucw .auto-group-dhpk-cUF .auto-group-mkmm-9yy {
  margin-bottom: 2.3rem;
  width: 36.6rem;
  height: 10.1rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-1-H3V .auto-group-te1v-2W3 .auto-group-23jx-xuV .auto-group-vgwy-Ucw .auto-group-dhpk-cUF .auto-group-mkmm-9yy .contact-me-Sbh {
  width: 36.6rem;
  height: 10.1rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.5670000315;
  color: #ffffff;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.desktop-1-H3V .auto-group-te1v-2W3 .auto-group-23jx-xuV .auto-group-vgwy-Ucw .auto-group-dhpk-cUF .auto-group-mkmm-9yy .contact-me-Sbh .contact-me-Sbh-sub-0 {
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #000000;
  font-family: Lalezar, 'Source Sans Pro';
}
.desktop-1-H3V .auto-group-te1v-2W3 .auto-group-23jx-xuV .auto-group-vgwy-Ucw .auto-group-dhpk-cUF .auto-group-mkmm-9yy .contact-me-Sbh .contact-me-Sbh-sub-1 {
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #ff0000;
  font-family: Lalezar, 'Source Sans Pro';
}
.desktop-1-H3V .auto-group-te1v-2W3 .auto-group-23jx-xuV .auto-group-vgwy-Ucw .auto-group-dhpk-cUF .auto-group-mkmm-9yy .contact-me-Sbh .contact-me-Sbh-sub-2 {
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #000000;
  font-family: Lalezar, 'Source Sans Pro';
}
.desktop-1-H3V .auto-group-te1v-2W3 .auto-group-23jx-xuV .auto-group-vgwy-Ucw .auto-group-dhpk-cUF .auto-group-mkmm-9yy .rectangle-12-zv3 {
  width: 16.1rem;
  height: 0.9rem;
  position: absolute;
  left: 0;
  top: 8rem;
  background-color: #ff0000;
}
.desktop-1-H3V .auto-group-te1v-2W3 .auto-group-23jx-xuV .auto-group-vgwy-Ucw .auto-group-dhpk-cUF .feel-free-to-contact-me-anytime-i-love-to-know-what-youre-thinking-voh {
  margin-bottom: 2.6rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #000000;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-H3V .auto-group-te1v-2W3 .auto-group-23jx-xuV .auto-group-vgwy-Ucw .auto-group-dhpk-cUF .auto-group-dfdr-2rj {
  margin: 0rem 23.1rem 2.6rem 0rem;
  width: calc(100% - 23.1rem);
  height: 6.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-H3V .auto-group-te1v-2W3 .auto-group-23jx-xuV .auto-group-vgwy-Ucw .auto-group-dhpk-cUF .auto-group-dfdr-2rj .auto-group-kmxm-ZLs {
  margin-right: 1.4rem;
  box-sizing: border-box;
  padding: 1.5rem 1.1rem;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-7.png');
  flex-shrink: 0;
}
.desktop-1-H3V .auto-group-te1v-2W3 .auto-group-23jx-xuV .auto-group-vgwy-Ucw .auto-group-dhpk-cUF .auto-group-dfdr-2rj .auto-group-kmxm-ZLs .vector-VkK {
  width: 4.6rem;
  height: 3.7rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-H3V .auto-group-te1v-2W3 .auto-group-23jx-xuV .auto-group-vgwy-Ucw .auto-group-dhpk-cUF .auto-group-dfdr-2rj .winzieldelrio12gmailcom-dLj {
  margin-top: 0.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #000000;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-H3V .auto-group-te1v-2W3 .auto-group-23jx-xuV .auto-group-vgwy-Ucw .auto-group-dhpk-cUF .auto-group-wutt-kAT {
  margin-right: 39.5rem;
  width: calc(100% - 39.5rem);
  height: 6.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-H3V .auto-group-te1v-2W3 .auto-group-23jx-xuV .auto-group-vgwy-Ucw .auto-group-dhpk-cUF .auto-group-wutt-kAT .auto-group-nfmq-gpo {
  margin-right: 1.2rem;
  box-sizing: border-box;
  padding: 1.6rem 1.5rem 1.7rem 1.6rem;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-6.png');
  flex-shrink: 0;
}
.desktop-1-H3V .auto-group-te1v-2W3 .auto-group-23jx-xuV .auto-group-vgwy-Ucw .auto-group-dhpk-cUF .auto-group-wutt-kAT .auto-group-nfmq-gpo .bi-telephone-fill-RGb {
  width: 3.7001rem;
  height: 3.3998rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-H3V .auto-group-te1v-2W3 .auto-group-23jx-xuV .auto-group-vgwy-Ucw .auto-group-dhpk-cUF .auto-group-wutt-kAT .item-639615820598-8wh {
  margin-top: 0.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #000000;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-H3V .auto-group-te1v-2W3 .auto-group-23jx-xuV .auto-group-vgwy-Ucw .auto-group-ppej-FWX {
  width: 100%;
  height: 6.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-H3V .auto-group-te1v-2W3 .auto-group-23jx-xuV .auto-group-vgwy-Ucw .auto-group-ppej-FWX .auto-group-kmfm-QPR {
  margin-right: 1.1rem;
  box-sizing: border-box;
  padding: 1.125rem 1.533rem 1.325rem 1.533rem;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-5.png');
  flex-shrink: 0;
}
.desktop-1-H3V .auto-group-te1v-2W3 .auto-group-23jx-xuV .auto-group-vgwy-Ucw .auto-group-ppej-FWX .auto-group-kmfm-QPR .vector-Lns {
  width: 3.7334rem;
  height: 4.25rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-H3V .auto-group-te1v-2W3 .auto-group-23jx-xuV .auto-group-vgwy-Ucw .auto-group-ppej-FWX .brgy-silangan-mayao-lucena-city-4301-quezon-V9y {
  margin-top: 0.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #000000;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-H3V .auto-group-te1v-2W3 .auto-group-23jx-xuV .message-box-PWF {
  margin-top: 2.8rem;
  width: 63.9rem;
  height: 75.3rem;
  position: relative;
  background-color: #d9d9d9;
  border-radius: 5rem;
  flex-shrink: 0;
}
.desktop-1-H3V .auto-group-te1v-2W3 .auto-group-23jx-xuV .message-box-PWF .your-name-Was {
  width: 12.5rem;
  height: 3.8rem;
  position: absolute;
  left: 5.7rem;
  top: 4.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #000000;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-H3V .auto-group-te1v-2W3 .auto-group-23jx-xuV .message-box-PWF .phone-number-1Xd {
  width: 16.7rem;
  height: 3.8rem;
  position: absolute;
  left: 5.7rem;
  top: 13.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #000000;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-H3V .auto-group-te1v-2W3 .auto-group-23jx-xuV .message-box-PWF .message-igw {
  width: 10.3rem;
  height: 3.8rem;
  position: absolute;
  left: 7.7rem;
  top: 22.3rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #000000;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-H3V .auto-group-te1v-2W3 .auto-group-23jx-xuV .message-box-PWF .auto-group-iqsf-S79 {
  box-sizing: border-box;
  padding: 0.8rem 1.5rem 0.4rem 1.5rem;
  width: 54.2rem;
  height: 4.4rem;
  position: absolute;
  left: 5.7rem;
  top: 8rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5675;
  color: rgba(0, 0, 0, 0.5);
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.3rem rgba(0, 0, 0, 0.5);
  background-color: #d9d9d9;
  border-radius: 1.5rem;
}
.desktop-1-H3V .auto-group-te1v-2W3 .auto-group-23jx-xuV .message-box-PWF .auto-group-unxp-TY3 {
  box-sizing: border-box;
  padding: 0.8rem 1.5rem 0.4rem 1.5rem;
  width: 54.2rem;
  height: 4.4rem;
  position: absolute;
  left: 5.7rem;
  top: 17rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5675;
  color: rgba(0, 0, 0, 0.5);
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.3rem rgba(0, 0, 0, 0.5);
  background-color: #d9d9d9;
  border-radius: 1.5rem;
}
.desktop-1-H3V .auto-group-te1v-2W3 .auto-group-23jx-xuV .message-box-PWF .auto-group-xjy3-6qu {
  box-sizing: border-box;
  padding: 2.1rem 2rem;
  width: 54.2rem;
  height: 38.2rem;
  position: absolute;
  left: 5.7rem;
  top: 27rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5675;
  color: rgba(0, 0, 0, 0.5);
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.3rem rgba(0, 0, 0, 0.5);
  background-color: #d9d9d9;
  border-radius: 1.5rem;
}
.desktop-1-H3V .auto-group-te1v-2W3 .auto-group-23jx-xuV .message-box-PWF .auto-group-mtfq-ZUb {
  width: 54.2rem;
  height: 3.9rem;
  position: absolute;
  left: 5.7rem;
  top: 68.2rem;
}
.desktop-1-H3V .auto-group-te1v-2W3 .auto-group-23jx-xuV .message-box-PWF .auto-group-mtfq-ZUb .rectangle-17-tmm {
  width: 54.2rem;
  height: 3.8rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
}
.desktop-1-H3V .auto-group-te1v-2W3 .auto-group-23jx-xuV .message-box-PWF .auto-group-mtfq-ZUb .submit-2NB {
  width: 6.7rem;
  height: 3.2rem;
  position: absolute;
  left: 25.9rem;
  top: 0.7rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #ffffff;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-H3V .auto-group-te1v-2W3 .auto-group-w1ts-hjD {
  width: 100%;
  height: 4.2rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2625;
  letter-spacing: 0.028rem;
  color: #ffffff;
  font-family: Amethysta, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  flex-shrink: 0;
}
